<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
    </head>
    <body>
        <header>
            <div class="img_container">
                <img src="{{asset('assets/img/Logo.png')}}" alt="Image du Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="{{path('index')}}">Accueil</a></li>
                    <li><a href="{{path('cours')}}">Cours</a></li>
                    <li><a href="{{path('ressources')}}">Ressources</a></li>
                    <li><a href="{{path('contact')}}">Contact</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="img_container">
                <img src="{{asset('assets/img/Logo.png')}}" alt="Image du Logo">
            </div>
            <div class="footer_content">
                <p>Nous sommes ici pour répondre à vos questions et inquiétudes.</p>
                <p>info@kids-learning.fr</p>
                <p>01 23 45 67 89</p>
                <a href="{{path('contact')}}">Formulaire de contact</a>
            </div>
            <div class="footer_copyright">
                <p>2023 Kids Learning. Tous droits réservés.</p>
            </div>

        </footer>
    </body>
</html>
